@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@import './mixin.scss';

.languages_title {
    font-family: 'Lato', sans-serif;
    color: $blue-light;
    padding-top: 5px; 
    padding-bottom: 15px;
}

.languages_content {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}